.topbar>nav>ul 
{   margin:1;
    padding:1;
    list-style: none;
    width:100%;
    height:40px;
    background-color:rgba(125, 250, 254, 0.731);
}

.topbar>nav>ul>li{
    /* background-color:rgb(208, 160, 253); */
    /* padding:3px; */
    /* margin:2px; */
    float:left;
    height:50px;
    display:flex;
    flex-direction:row;
    position:relative;
    color:rgb(8, 8, 8);
    width:150px;
}
.topbar>nav>ul>li>a{
    color:rgb(4, 4, 4);
    text-decoration:none;
     display:block;
     
     font-size:15px;
     padding:2px;
     margin-top:9px;
     /* margin-left:1.5px; */
}
.topbar>nav>ul>li>a:hover{
    color:#262d2d;
}
body{
    background-color:#fba3a4;
}
h3{
    text-align:center;
    text-decoration:underline;
    text-decoration-color: rgb(247, 247, 76);
}
.c1
{
    background-image: url('images/bgs/bgnoise_lg.png');
    height:500px;
    width:100%;
}
h2
{
    text-align:center;
    font-size:30px;
    color:rgba(255, 136, 0, 0.594);
    text-decoration:underline;
    /* margin:3px; */
}
footer{
    background-color:brown ;
    color:rgb(10, 10, 10);
    text-align:center;
}
.d1
{
    background-image:url('images/bgs/black-Linen.png');
    background-color:rgba(226, 65, 65, 0.235);
    height:400px;
    width:90%;
    margin:23px;
    margin-top:20px;
    padding:32px;
    border-radius: 23px;;
}
p{
    color:rgb(7, 7, 7);
}
p:hover{
    color:rgb(253, 225, 225);
}
ul li{
    color:rgb(11, 11, 11);
}
ul li:hover
{
    color:rgb(216, 194, 113);
}
h2:hover
{
color:bisque;
}